html {
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  color: #bfbdb6;
  background-color: #0d1017;
  font-family: monospace;
  font-size: 1rem;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

nav {
  margin: 1rem 2rem;
  text-align: right;
  font-size: 0.8rem;
  align-self: flex-end;
}

nav a {
  opacity: 0.6;
  transition: opacity 0.2s;
}

nav a:hover {
  opacity: 1;
}

header {
  margin-top: 2em;
  color: #ff8f40;
  background-color: inherit;
  font-size: 0.7rem;
  width: 80vw;
  max-width: 700px;
}

main {
  flex-grow: 1;
  width: 80vw;
  max-width: 700px;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  width: 80vw;
  max-width: 700px;
}

footer .links {
  text-align: center;
}

a {
  color: #7fd962;
  background-color: inherit;
}

h2 {
  color: #f26d78;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-top: 1rem;
}

p {
  color: inherit;
  font-family: inherit;
  line-height: 1.3;
}

em {
  color: #e6b450;
  background-color: inherit;
  font-style: normal;
}

#fenix {
  display: block;
  margin: 0 auto;
  color: #ff8f40;
  background-color: inherit;
}

#fenix .frame {
  display: none;
}

#fenix .frame:first-child {
  display: block;
}

#fenix pre {
  align-self: center;
  margin-bottom: 0;
}
